* {
  font-family: serif;
  font-size: 16px;
}

svg {
  fill: currentColor;
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: 
    "links img"
    "links img"
    "links img"
}

.links {
  text-align: center;
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box1 box2"
    "box3 box4 box5"
    "box6 box7 box8"
}

.box {
  height: 33vh;
  width: 20vw;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-icon {
  height: 50%;
  width: 40%;
  padding-bottom: 10%;
}

.icon-label {
  display: block;
  text-shadow: 1px 1px 2px #A9A9A9;
  font-size: 1.5rem;
}

.box1 {
  width: 100%;
  grid-area: box1;
  background-color: #C44530;
  display: inline-block;
  text-align: left;
}

.box1 h1 {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 3.8rem;
  margin: 2% 5%;
  color: #FFC300;
  text-shadow: 1px 1px 2px #000000;
}

.box1 p {
  font-size: 1.3rem;
  width: 75%;
  margin: 2% 5%;
}

.box1 button {
  border: 2px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
  height: 40px;
  width: 120px;
  padding: 0 2% 0 0;
  margin: 1% 0 0 5%;
}

.button-icon {
  height: 40%;
  width: 40%;
}

.box2 {
  grid-area: box2;
  background-color: #6F8040;
}

.box3 {
  grid-area: box3;
  background-color: #F4AF93;
}

.box4 {
  grid-area: box4;
  background-color: #4C4830;
}

.box5 {
  grid-area: box5;
  background-color: #D9AA55;
}

.box6 {
  grid-area: box6;
  background-color: #975A3A;
}

.box7 {
  grid-area: box7;
  background-color: #DA5C3C;
}

.box8 {
  grid-area: box8;
  background-color: #D3CB96
}

.images {
  grid-area: img;
  background-image: url('images/hot-dog-rice.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1410px) {
  .links {
      display: flex;
      flex-wrap: wrap;
  }

  .box8 {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .box {
    width: 50%;
  }

  .box1 {
    width: 100%;
    height: 80%;
  }

  .box1 button {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  
  .images {
    display: none;
  }

  .box {
    width: 100%;
  }
}